body {
  padding: 0px !important;
}

ul li a {
  line-height: 1.5;
  text-decoration: none;
}

ul li a:link, ul li a:visited {
  color: blue;
}

ul li a:hover {
  color: red;
  text-decoration: none;
}

#grid {
  display : grid;
  grid-template-columns: 3fr 1fr;
  padding : 20px;
}

.first {
  top: 10x;
}
/* 처음에 row 로 해서 계속 margin-30px 먹었음. bootstrap 에 row class로 조건 걸려 있음. 그래서 class 명 바꿈 */
.rowstyle {
  padding-bottom : 5px; 
}

@media(max-width:800px){
  #grid {
    display : block;
  }
}

