body {
  padding: 0px !important;
}

ul li a {
  line-height: 1.5;
  text-decoration: none;
}

ul li a:link, ul li a:visited {
  color: blue;
}

ul li a:hover {
  color: red;
  text-decoration: none;
}

#grid {
  display : grid;
  grid-template-columns: 3fr 1fr;
  padding : 20px;
}

.first {
  top: 10x;
}

.btn-group {
  margin-bottom: 5px;
}

.firstsemester {
  margin-top: 5px;
  border-top : 1px solid rgb(161, 160, 160) ;
  padding : 5px;
  width : 380px;
}

@media(max-width:800px){
  #grid {
    display : block;
  } 
}

